config.py
*.env
.env

saved_model_output/
*.keras
*.weights.h5
*.h5
*.joblib
my_multitask_tf_savedmodel/


__pycache__/
*.pyc
*.pyo
*.pyd

.ipynb_checkpoints/

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sublime-workspace

.DS_Store
Thumbs.db